body{
    background-color: #ffff;
    font-family: Montserrat-Black;
}

.header{
    color: #292929;
}

.head1{
    color: #292929;
}

ul.horizontal-lists{
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    position: absolute;
    margin-top: 3%;
    right:10%;
    font-size: 1.9rem;
}

ul.horizontal-lists li{
    margin-left: 60px;
}


.blue{
    width:1.5%;
    position: absolute;
    top:5.5%;
    left:2%;

}

.head{
    position: absolute;
    top:2%;
    left:4%;
}

.cse{
    position: absolute;
    top:4%;
    left:20%;
}


.myimg{
    /* border-radius: 80%; */
    width:30%;
    position:absolute;
    left:8%;
    top:25%;

}

.black{
    position: absolute;
    top:40%;
    left:40%;
    width:40%;
    height:29%;
    border-radius: 10%;
}

.head2{
    position: absolute;
    top:28%;
    left:41%;
    font-family: Montserrat-Black;
}

h4{
    position: absolute;
    top:33%;
    left:43%;
}

.info{
    position: absolute;
    top:40%;
    left:42%;
    color: aliceblue;
    font-size: 1.5rem;
    width:35%;
    font-family: 'Courier New', Courier, monospace;
    
}

.work1{
    width:5%;
    position: absolute;
    top:72%;
    left:67%;
}

.work2{
    width:5%;
    position: absolute;
    top:72%;
    left:73%;
}

.work3{
    width:5%;
    position: absolute;
    top:72%;
    left:79%;
}

.work4{
    width:5%;
    position: absolute;
    top:72%;
    left:85%;
}

h2{
   position: absolute;
   top:90%;
   left:50%; 
}

.bbox{
position: absolute;
top:73%;
left:68%;
}

.gbox{
position: absolute;
top:73%;
left:74%;
}

.grbox{
position: absolute;
top:73%;
 left:79.5%;
}

.ybox{
   position: absolute;
   top:73.5%;
   left:86%;
}



.foot1{
    position: absolute;
    left:10%;
    top:90%;
}

.foot2{
    position: absolute;
    left:45%;
    top:90%;
}

.foot3{
    position: absolute;
    left:80%;
    top:90%;
}

.footer{
    background-color: #292929;
}

.h{
    width:1460px;
    height:1px solid;
    position: absolute;
    bottom:10%;
    left:1%;

}

@media screen and (max-width: 768px) {
    .head{
        position: absolute;
        top:2%;
        left:4%;
        /* width:20%; */
    }
 
    .cse{
        position: absolute;
        top:8%;
        left:5%;
    }
    

ul.horizontal-lists{
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    position: absolute;
    margin-top: 5%;
    right:10%;
    font-size: 1.5rem;
}

    ul.horizontal-lists li{
        margin-left: 30px;
    }


    .blue{
        width:1.5%;
        position: absolute;
        top:6.5%;
        left:2%;
    }

    .myimg{
        /* border-radius: 80%; */
        width:35%;
        position:absolute;
        left:4%;
        top:29%;
    }

    .black{
        position: absolute;
        top:39%;
        left:40%;
        width:55%;
        height:19%;
        border-radius: 10%;
    }

    .head2{
        position: absolute;
        top:29%;
        font-size: 162%;
        left:45%;
        font-family: Montserrat-Black;
    }
    
    h4{
        position: absolute;
        top:32.5%;
        left:48%;
    }
    
    .info{
        position: absolute;
        top:38.5%;
        left:44%;
        color: aliceblue;
        font-size: 1rem;
        width:50%;
        font-family: 'Courier New', Courier, monospace;  
    }


    .work1{
        width:5%;
        position: absolute;
        top:62%;
        left:67%;
    }
    
    .work2{
        width:5%;
        position: absolute;
        top:62%;
        left:73%;
    }
    
    .work3{
        width:5%;
        position: absolute;
        top:62%;
        left:79%;
    }
    
    .work4{
        width:5%;
        position: absolute;
        top:62%;
        left:85%;
    }
    
    h2{
       position: absolute;
       top:90%;
       left:50%; 
    }
    
    .bbox{
    /* width: 2%; */
    font-size: 69%;
    position: absolute;
    top:61.5%;
    left:68%;
    }
    
    .gbox{
    font-size: 69%;
    position: absolute;
    top:62%;
    left:73.5%;
    }
    
    .grbox{
    font-size: 50%;
    position: absolute;
    top:62.5%;
     left:79.5%;
    }
    
    .ybox{
       position: absolute;
       font-size: 65%;
       top:62%;
       left:85.5%;
    }

    .h{
        width:710px;
        height:1px solid;
        position: absolute;
        bottom:10%;
        left:1%;
    
    }
}